.otherProjectsContainer {
	width: 100%;
	margin-top: 2em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 2rem;
}

.featuredProjectsContainer {
	margin-bottom: 4.5rem;
}

.featuredContainer {
	position: relative;
	width: 100%;
	margin: 3.5rem auto 0rem auto;
	box-sizing: border-box;
}

.featuredFirstText, .featuredSecondText {
	max-width: 25rem;
	margin-bottom: 1.5rem;
}

.heading {
	margin: 0 0 0.75rem 0;
}

.hook {
	font-size: 1.75rem;
	font-weight: 300;
	font-style: italic;
	margin: 0 0 0.5rem 0;
}

.description {
	margin: 0 0 1rem 0;
}

.descriptionOther {
	margin: 0.5rem 0;
}

.forceWrap {
	flex-basis: 100%;
	width: 0;
}

.projectTagsHolder {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5rem;
	margin: 0 0 1rem 0;
}

.projectTagsHolderOther {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5rem;
	margin: 0 0 0.5rem 0;
}

.projectTag {
	opacity: .85;
	font-size: 1rem;
	background-color: var(--text);
	color: var(--bg);
	border-radius: 1000vh;
	padding: 0 0.75rem 0.1rem 0.75rem;
}

.projectTagOutline {
	font-size: 1rem;
	border: 2px solid var(--text);
	border-radius: 1000vh;
	padding: 0 0.75rem 0.1rem 0.75rem;
}

.featuredImageMain {
	width: 100%;
	max-height: 18rem;
	aspect-ratio: 8 / 5;
	margin-bottom: 0.5rem;
	border-radius: 0.75rem;
	object-position: center;
	object-fit: cover;
}

.otherImage {
	max-width: 100%;
	aspect-ratio: 8 / 5;
	margin-bottom: 0.5rem;
	border-radius: 0.75rem;
	object-position: center;
	object-fit: cover;
}

.otherText {
	display: block;
}

.featuredImageSideContainer {
	display: none;
	position: relative;
}

.featuredImageSide {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 0.75rem;
	object-position: center;
	object-fit: cover;
}

@media screen and (min-width: 1200px) {
	.featuredImageMain {
		display: none;
	}

	.featuredContainer {
		display: flex;
		flex-flow: row nowrap;
		gap: 2.5rem;
		margin: 3.5rem auto 4.5rem auto;
	}

	.featuredContent {
		flex: 2 0 26rem;
	}
	
	.featuredImageSideContainer {
		display: initial;
		flex: 0 1 33rem;
		aspect-ratio: 8 / 5;
	}
}