.tybaltHand {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 15%;
	width: 200%;
	transform: translateX(-25%);
	height: 100%;
	background-image: url('/img/decoration/TybaltHand.svg');
	background-size: 30rem;
	background-position: bottom center;
	background-repeat: no-repeat;
}

@media screen and (min-width: 1000px) {
	.tybaltHand {
		background-size: 30%;
	}
}

.tybaltHand2 {
	pointer-events: none;
	position: absolute;
	top: 5rem;
	right: 0;
	width: min(35rem, max(120%, 30rem));
	height: 100%;
	background-image: url('/img/decoration/TybaltHand2.svg');
	background-repeat: no-repeat;
}

.notFoundText {
	position: absolute;
	left: 10%;
	bottom: 5%;
}

@media screen and (max-width: 350px) {
	.notFoundText {
		left: 50%;
		transform: translateX(-50%);
	}
}

.notFoundText > h1 {
	margin-bottom: 0px;
}

.notFoundText > h6 {
	margin-top: 0px;
	margin-left: 1rem;
}