.landing {
	width: 100vw;
	width: 100cqw;
	height: 100svh;
	position: relative;
}

.landingContent {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	gap: var(--floatingGap);
	align-items: center;
	justify-content: center;
}

.landingText {
	position: relative;
	flex: 0 0 32rem;
	padding: 2.5rem;
	text-align: left;
	aspect-ratio: 1 / 1;
}

.landingText > h3, .landingText > h2 {
	padding-left: 0.4rem;
}

.landingSide {
	flex: 0 0 10rem;
	gap: var(--floatingGap);
	display: flex;
	flex-wrap: wrap;
}

.landingLogo {
	flex: 0 0 100%;
	background-image: url(/img/logoFlat.svg);
	background-position: center center;
	background-size: cover;
	aspect-ratio: 1 / 1;
}

.landingLogoLink {
	flex: 0 0 100%;
}

.tybaltHand {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('/img/TybaltHand.svg');
	background-position: bottom -5rem right -3.2rem;
	background-repeat: no-repeat;
	/* background-size: 33rem; */
}