/* Overall Styles */

:root {
	/* CSS HSL */
	/* MAIN COLORS */
	--coffee: #281F15;
	--white: #FEFBF2;
	--red: #A4303F;
	--cream: #F2D0A4;
	--whip: #FFECCC;
	--blue: #B0D6C4;

	--bg: var(--white);
	--text: var(--coffee);
}

body {
	background-color: var(--bg);
	color: var(--text);
}

*, *::before, *::after {
	box-sizing: border-box;
}