/* Overall Styles */

:root {
	/* CSS HSL */
	/* MAIN COLORS */
	--green: hsla(159, 76%, 54%, 1);
	--blue: hsla(196, 100%, 44%, 1);
	--coral: hsla(17, 100%, 68%, 1);
	--navy: hsla(235, 21%, 21%, 1);
	--off-white: hsla(0, 0%, 94%, 1);

	--bg: var(--off-white);
	--bgTranslucent: hsla(0, 0%, 94%, 0.95);
	--text: var(--navy);

	/* Neumorphism Shadows */
	--neu-shad-light: #ffffff;
	--neu-shad-dark: #cccccc;
	--neu-round-light: #ffffff;
	--neu-round-dark: #d8d8d8;

	--floatingGap: 3.5rem;

	--mobileHeaderHeight: 4rem;
	--sidebarWidth: 12rem;
}

@media screen and (min-width: 1100px) {
	:root {
		font-size: 18px;
	}
}

body {
	background-color: var(--bg);
	color: var(--text);
	margin: 0;
	padding: 0;
	font-family: "brandon-grotesque", sans-serif;
	font-style: normal;
	font-weight: 400;
	min-height: 100dvh;
}

*, *::before, *::after {
	box-sizing: border-box;
}

.green {
  background-color: var(--green);
}

.blue {
  background-color: var(--blue);
}

.coral {
  background-color: var(--coral);
}

.coralText {
	color: var(--coral);
}

.blueText {
	color: var(--blue);
}

.greenText {
	color: var(--green);
}