/* Tile Containers */

.fullScreenContainer {
	width: 100vw;
	width: 100cqw;
	height: 100svh;
	position: relative;
}

.contentContainer {
	max-width: 70rem;
	margin: auto;
	min-height: 100dvh;
	padding: 5rem;
}

.fullContentContainer {
	width: 100vw;
	width: 100cqw;
	min-height: 100svh;
	padding: var(--floatingGap);;
}

.contentCenteredVert {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
	width: 100%;
}

.flexRowStart {
	display: flex;
	flex-flow: row wrap;
	gap: var(--floatingGap);
	align-items: flex-start;
	justify-content: center;
}

.flexRowStartNoWrap {
	display: flex;
	flex-flow: row nowrap;
	gap: var(--floatingGap);
	align-items: flex-start;
	justify-content: center;
}

.flexRowReverseNoWrap {
	display: flex;
	flex-flow: row-reverse nowrap;
	gap: var(--floatingGap);
	align-items: flex-start;
	justify-content: center;
}

.mainContentNoWrap {
	flex: 0 1 100%;
	padding: 1rem 2rem 2rem 2rem;
	margin: 0 auto;
	min-width: 0
}

.partialWidthImage {
	flex: 0 1 25rem;
	aspect-ratio: 1 / 1;
	padding: 1rem;
	box-sizing: border-box;
}

.partialWidthImage > img {
	border-radius: 0.8rem;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.partialWidthText {
	flex: 1 1 4rem;
}

.lifeContentNoWrap {
	flex: 0 1 100%;
	padding: 2rem;
	margin: 0 auto;
	min-width: 0
}

.narrowFlexColumn {
	flex: 0 0 10rem;
	gap: var(--floatingGap);
	display: flex;
	flex-wrap: wrap;
}

.flexBanner {
	display: flex;
	gap: var(--floatingGap);
	flex-flow: row nowrap;
	height: 10rem;
	width: 100%;
	align-items: center;
}

.landingSquare {
	position: relative;
	flex: 0 0 32rem;
	padding: 2.5rem;
	text-align: left;
	aspect-ratio: 1 / 1;
}

.landingSquareAdaptable {
	aspect-ratio: auto;
}

.landingSquare > h4, .landingSquare > h6 {
	padding-left: 0.4rem;
}

.shiftUp {
	margin-top: -4rem;
}

/* Logo Tile Styles */

.logo {
	flex: 0 0 100%;
	background-image: url(/img/logos/logoFlat.svg);
	background-position: center center;
	background-size: cover;
	aspect-ratio: 1 / 1;
}

.logoLink {
	flex: 0 0 10rem;
}

/* Nav Tile Styles */

.navFlex {
	flex: 0 0 100%;
	padding: 1rem;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	display: flex;
}

.navLink {
	position: relative;
	aspect-ratio: 1 / 1;
	flex: 0 0 40%;
	cursor: default;
}

.navButton {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.navIcon {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	mask-size: 100% 100%;
}

.navButton:hover > .navIcon {
	width: 49%;
	height: 49%;
}

.section {
	width: calc(100% - 3rem);
	max-width: 75rem;
	margin: auto;
}

.sectionText {
	box-sizing: border-box;
	padding: 0 4rem 2rem 4rem;
}