.landingContainer {
	position: relative;
	padding: 4rem max(2rem, 10%);
	height: max(calc(100dvh - var(--mobileHeaderHeight)), 600px);
	overflow-x: hidden;
}

.notFoundContainer {
	position: relative;
	height: max(calc(100dvh - var(--mobileHeaderHeight)), 600px);
	overflow: hidden;
}

@media screen and (min-width: 600px) {
	.landingContainer {
		height: max(100dvh, 600px);
	}

	.notFoundContainer {
		height: max(100dvh, 600px);
	}
}

.homePageSection {
	padding: 2rem max(2rem, 10%);
}

.aboutMeImageContainer {
	margin: 2rem auto 0rem;
	width: min(100%, 25rem);
	padding: 1rem;
}

.aboutMeImage {
	width: 100%;
	aspect-ratio: 1;
	border-radius: 0.8rem;
	display: block;
}

@media screen and (min-width: 1350px) {
	.aboutMeContent {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		gap: 3rem;
	}

	.aboutMeText {
		flex: 1 0 0px;
	}

	.aboutMeImageContainer {
		flex: 0 0 25rem;
		width: auto;
		margin: 0;
	}
}

.separator {
	height: 2rem;
	width: 100%;
	background-color: var(--navy);
}