@media screen and (min-width: 600px) {
	.contentWrapper {
		position: absolute;
		top: 0;
		left: var(--sidebarWidth);
		right: 0;
	}
}

@media screen and (max-width: 599px) {
	.contentWrapper {
		position: absolute;
		top: var(--mobileHeaderHeight);
		left: 0;
		width: 100vw;
	}
}