@media screen and (min-width: 600px) {
	.contentWrapper {
		position: absolute;
		top: 0;
		left: var(--sidebarWidth);
		right: 0;
	}
}

@media screen and (max-width: 599px) {
	.contentWrapper {
		position: absolute;
		top: var(--mobileHeaderHeight);
		left: 0;
		width: 100vw;
	}
}

.projectWrapper {
	width: calc(100% - max(2rem, 10%));
	max-width: 45rem;
	padding: 2rem;
	margin: 0 auto;
}