.navMobile {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100cqw;
}

.header {
	padding: 0rem 1rem;
	height: var(--mobileHeaderHeight);
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerLogo {
	flex: 0 1 3.4rem;
	background-image: url(/img/logos/logoFlat.svg);
	background-position: center center;
	background-size: cover;
	aspect-ratio: 1 / 1;
}

.headerLogo > a {
	display: block;
	width: 100%;
	height: 100%;
	pointer-events: auto;
}

.navSidebar {
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	left: 0;
	width: var(--sidebarWidth);
}

.navSidebarHeader {
	width: 100%;
	aspect-ratio: 1;
	position: relative;
}

.navSidebarLogo {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url(/img/logos/logoFlat.svg);
	background-position: center center;
	background-size: cover;
	aspect-ratio: 1 / 1;
}

.navSidebarLogo > a {
	width: 100%;
	height: 100%;
	display: block;
}

.navMobileMenu {
	font-size: 1.6rem;
}

.navSidebarMenu {
	font-size: 1.2rem;
}

.navMobileMenuList {
	position: absolute;
	top: 6.6rem;
	left: 1.6rem;
	list-style-type: none;
  margin: 0;
  padding: 0;
}

.navSidebarMenuList {
	list-style-type: none;
  margin: 0 1rem;
  padding: 0;
}

.navSidebarMenuListItem {
	margin-bottom: 0.6rem;
}

.navSubMenu {
	list-style-type: none;
}

.navMobileMenuListItem {
	margin-bottom: 0.8rem;
}

.navMenuListSubItem {
	margin-bottom: 0.3em;
	margin-left: 1em;
	font-size: 0.8em;
}

.navMenuListSubItemFirst {
	margin-top: -0.4em;
}

.navItemButton{
	color: inherit;
	border: none;
	padding: 0;
	margin: 0;
	background: none;
	font-size: inherit;
	font-family: inherit;
}

.activeNavLink {
	font-weight: 700;
}

.navLink, .navLinkWithSub {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 0.8rem;
}

.navItemLabel {
	white-space: nowrap;
}

.navButton {
	flex: 0 0 1em;
	aspect-ratio: 1;
	position: relative;
}

.navIcon {
	width: 80%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	mask-size: 100% 100%;
}

.hidden {
	pointer-events: none;
}

.hamburger {
	flex: 0 0 3.4rem;
	position: relative;
	aspect-ratio: 1;
	pointer-events: auto;
}

.hamburger > svg {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
}

@media screen and (min-width: 600px) {
	.navMobile {
		display: none;
	}
}

@media screen and (max-width: 599px) {
	.navSidebar {
		display: none;
	}
}