.card {
	flex: 1;
	padding: 1rem;
	text-align: center;
}

.cardImage {
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	background-color: grey;
	border-radius: 0.8rem;
	margin-bottom: 0.5rem;
}

.cardName {
	font-family: "brandon-grotesque", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1.3rem;
}

.cardDescription {
	font-size: 1rem;
	font-weight: 100;
}