.bannerImage {
	position: relative;
	border-radius: 0.8rem;
	aspect-ratio: 16/9;
	max-height: 15rem;
	width: 100%;
	margin: 0 0rem 2rem 0rem;
	background-position: center;
	background-size: cover;
}

.bannerTitle {
	max-width: 90%;
	height: 8rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.bannerDarken {
	background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5));
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	border-radius: 0.8rem;
}

.containerSmall {
	position: relative;
	margin: 1rem 0rem 0rem;
}

.containerSmall:last-child {
	margin: 1rem 0rem;
}

.containerBig {
	position: relative;
	margin: 2rem 0rem 0rem;
}

.containerBig:last-child {
	margin: 2rem 0rem;
}

.videoPlayer {
	width: 100%;
	border-radius: 0.8rem;
	display: block;
	aspect-ratio: 16/9;
}

.projectImage {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.8rem;
}

.projectImageFull {
	aspect-ratio: 16/9;
	width: 100%;
}

.containerBig+.projectParagraph {
	margin-top: 2rem;
}

.containerSmall+.projectParagraph {
	margin-top: 1rem;
}

.clearFix::after {
  content: "";
  clear: both;
  display: table;
}