.main {
	max-width: 70rem;
	margin: auto;
	min-height: 100dvh;
	padding: 5rem;
	display: flex;
	flex-flow: row nowrap;
	gap: var(--floatingGap);
	justify-content: center;
	align-items: flex-start;
}

.navBar {
	flex: 0 0 10rem;
	display: flex;
	flex-flow: row wrap;
	gap: var(--floatingGap);
	align-items: flex-start;
}

.pageContent {
	flex: 0 1 100%;
	padding: 1rem 2rem;
	margin: 0 auto;
	min-width: 0
}

.bannerImage {
	position: relative;
	border-radius: 0.8rem;
	aspect-ratio: 16/9;
	max-height: 15rem;
	width: calc(100% + 2rem);
	margin: 0 -1rem 2rem -1rem;
	background-position: center;
	background-size: cover;
}

.fullImage {
	position: relative;
	border-radius: 0.8rem;
	object-fit: cover;
	width: 100%;
	margin: 2rem 0;
}

.halfImage {
	border-radius: 0.8rem;
	width: 50%;
	background-position: center;
	background-size: cover;
}

.thirdImage {
	border-radius: 0.8rem;
	width: 33%;
	background-position: center;
	background-size: cover;
}

.right {
	float: right;
	margin: 0 0 1rem 1rem;
}

.left {
	float: left;
	margin: 0 1rem 1rem 0;
}

.collage {
	width: 100%;
	margin: 2rem 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: 1rem;
}

.collageMember {
	height: 18rem;
	flex-grow: 1;
	border-radius: 0.8rem;
}

.collageImage {
	border-radius: 0.8rem;
	width: 100%;
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
}

.teamContainer {
	/* width: calc(100% + 2rem); */
	width: 100%;
	margin: 1rem 0rem 1rem 0rem;
	display: flex;
	flex-flow: row nowrap;
	gap: 2rem;
}

#todosImage {
	background-image: url("/img/projects/todos/banner.jpg");
}

.bannerDarken {
	background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5));
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	border-radius: 0.8rem;
}

#todosLogo {
	height: 5rem;
}

.bannerTitle {
	height: 8rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.videoPlayer {
	border-radius: 0.8rem;
	width: 100%;
	aspect-ratio: 16/9;
	margin: 2rem 0rem;
	display: block;
}