.bookClubPage {
	/* background-color: hsla(192, 19%, 16%, 12.5%); */
	width: 100vw;
	min-height: 100dvh;
}

.heading {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 3rem;
	color: #212D30;
	margin-bottom: 0.75rem;
}

.header {
	padding: 2rem 2.5rem;
	background-color: var(--bg);
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}

.bookClubSubtitle {
	font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 2rem;
	color: #212D30;
	margin-left: 2.5rem;
	margin-bottom: 0.75rem;
}

.bookClubNavigation {
	color: #212D30;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 20px;
	margin-bottom: 0.5rem;
}

.bookClubNavigationMenu {
	margin: 0;
	padding: 0 0 0 1rem;
	display: flex;
	flex-flow: row nowrap;
	gap: 3rem
}

.bookClubNavigationMenuItem {
	list-style: none;
}

.bookClubNavigationMenuItemActive {
	text-decoration: underline;
}

@media screen and (max-width: 800px) {
	.header {
		flex-flow: row wrap;
	}

	.heading {
		flex: 0 0 100%;
	}

	.bookClubNavigationMenu {
		padding: 0;
	}
}

.bookClubBooks {
	margin: 1rem 2.5rem;
	display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}

.bookClubBook {
	background: var(--bg);
	border-radius: 1rem;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
	height: 12rem;
	padding: 1rem 0;
	gap: 1.5rem;
}

.bookClubBookImageHolder {
	/* background-color: #212D30; */
	flex: 0 0 6.5rem;
	position: relative;
}

.bookClubBookImage {
	width: 6.5rem;
	height: 10rem;
	object-fit: cover;
	margin: auto;
}

.bookClubBookText {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}

.bookClubBookTextTitle {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1.5rem;
	color: #212D30;
	margin-bottom: 0.25rem;
	overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
}

.bookClubBookTextAuthor {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.bookClubBookTextGenre {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	font-size: 0.75rem;
	background-color: var(--bg);
	color: #212D30;
	display: inline-block;
	padding: 0.25rem 0.5rem;
	position: absolute;
	bottom: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 0 0.5rem hsla(192, 19%, 16%, 20%);
	border-radius: 0.25rem;
}

.bookClubBookTextRating {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1rem;
	flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
	margin-bottom: 0.5rem;
}

.bookClubBookTextRatingNumber {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1.5rem;
	color: #212D30;
}

.bookClubBookTextSeeMore {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 0.9rem;
	color: #6A8E7F;
	font-style: italic;
}

.bookClubBookSortForm {
	padding: 0 2.5rem;
}

.bookClubBookSortLabel {
	margin-right: 1rem;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1rem;
	display: inline-block;
	color: #212D30;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
}

.bookClubBookSortLabel:hover {
	background-color: #212D30;
	color: var(--off-white);
	cursor: pointer;
}

.bookClubBookSortLabel:has(> .bookClubBookSortInput[type="radio"]:checked) {
	background-color: #212D30;
	color: var(--off-white);
	cursor: default;
}

.bookClubBookSortInput[type="radio"] {
  appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
  background-color: none;
  margin: 0;
	position: absolute;
}

@media screen and (max-width: 509px) {
	.header {
		padding: 2rem 1.5rem;
	}

	.bookClubSubtitle {
		margin-left: 1.5rem;
	}

	.bookClubBookSortForm {
		padding: 0 1.5rem;
	}

	.bookClubBookSortLabel {
		margin-right: 0;
	}

	.bookClubBooks {
		margin: 1rem 1.5rem;
	}
}

.bookClubBookPage {
	margin: 1rem 2.5rem;
}

@media screen and (max-width: 509px) {
	.bookClubBookPage {
		margin: 1rem 1.5rem;
	}
}

.bookClubBookPageContent {
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
	padding: 1rem 0rem;
	gap: 2.5rem;
}

.bookClubBookPageImageHolder {
	/* background-color: #212D30; */
	flex: 0 0 12rem;
	text-align: center;
}

@media screen and (max-width: 606px) {
	.bookClubBookPageContent {
		flex-flow: row wrap;
	}

	.bookClubBookPageImageHolder {
		flex: 0 0 100%;
	}
}

.bookClubBookPageImage {
	width: 12rem;
}

.bookClubBookPageText {
	flex: 1 1 auto;
}

.bookClubBookPageTextTitle {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 2.5rem;
	color: #212D30;
	margin-bottom: 0.25rem;
}

.bookClubBookPageTextAuthor {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.bookClubBookPageTextGenre {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	font-size: 1rem;
	background-color: #212D30;
	color: var(--bg);
	display: inline-block;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
}

.bookClubBookPageTextRating {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1.5rem;
	margin-top: 1.5rem;
}

.bookClubBookPageTextRatingNumber {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 2rem;
	color: #212D30;
}

.bookClubBookPageTextMemberRatings {
	display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.bookClubBookPageTextMemberRatingsTitle {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1.75rem;
	color: #212D30;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.bookClubBookPageTextMemberRating {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
	align-items: center;
}

.bookClubBookPageTextMemberImageHolder {
	flex: 0 0 4rem;
	aspect-ratio: 1;
}

.bookClubBookPageTextMemberImage {
	width: 4rem;
	aspect-ratio: 1;
	border-radius: 50%;
	display: block;
}

.bookClubBookPageTextMemberImageSub {
	background-color: #212D30;
	color: var(--bg);
	width: 4rem;
	aspect-ratio: 1;
	border-radius: 50%;
	position: relative;
}

.bookClubBookPageTextMemberImageSub > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	font-size: 1.75rem;
}

.bookClubBookPageTextMemberText {
	
}

.bookClubBookPageTextMemberTextName {
	display: block;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1em;
}

.bookClubBookPageTextMemberTextRating {
	display: block;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1.25rem;
}

.bookClubBookPageTextMemberTextRating > span {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1.5rem;
}

.bookClubMembers {
	padding: 1rem 2.5rem;
	display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.bookClubMember {
	display: flex;
	flex-flow: row nowrap;
	gap: 1.5rem;
	align-items: center;
}

.bookClubMemberImageHolder {
	flex: 0 0 6rem;
	aspect-ratio: 1;
}

.bookClubMemberImage {
	width: 6rem;
	aspect-ratio: 1;
	border-radius: 50%;
	display: block;
}

.bookClubMemberImageSub {
	background-color: #212D30;
	color: var(--bg);
	width: 6rem;
	aspect-ratio: 1;
	border-radius: 50%;
	position: relative;
}

.bookClubMemberImageSub > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	font-size: 2.25rem;
}

.bookClubMemberTextName {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1.75rem;
	color: #212D30;
}

.bookClubMemberTextRatings {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1.25rem;
}

.bookClubMemberViewProfile {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 0.9rem;
	color: #6A8E7F;
	font-style: italic;
}

.bookClubMemberPage {
	margin: 1rem 2.5rem;
}

@media screen and (max-width: 509px) {
	.bookClubMemberPage {
		margin: 1rem 1.5rem;
	}
}

.bookClubMemberPageContent {
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
	padding: 1rem 0rem;
	gap: 2.5rem;
}

.bookClubMemberPageImageHolder {
	flex: 0 0 12rem;
	text-align: center;
}

.bookClubMemberPageImage {
	width: 12rem;
	aspect-ratio: 1;
	border-radius: 50%;
}

.bookClubMemberPageImageSub {
	width: 12rem;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #212D30;
	color: var(--bg);
	position: relative;
	margin: 0 auto;
}

.bookClubMemberPageImageSub > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	font-family: "Figtree", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 4.25rem;
}

@media screen and (max-width: 606px) {
	.bookClubMemberPageContent {
		flex-flow: row wrap;
	}

	.bookClubMemberPageImageHolder {
		flex: 0 0 100%;
	}
}

.bookClubMemberPageText {
	flex: 1 1 auto;
}

.bookClubMemberPageTextName {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 2.5rem;
	color: #212D30;
	margin-bottom: 0.25rem;
}

.bookClubMemberPageTextBooksRead {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.bookClubMemberPageTextNoBooks {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1.25rem;
	font-style: italic;
	margin-bottom: 0.5rem;
}

.bookClubMemberPageTextBookList {
	display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.bookClubMemberPageTextBookListTitle {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1.75rem;
	color: #212D30;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.bookClubMemberPageTextBookListing {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
	align-items: center;
}

.bookClubMemberPageTextBookImageHolder {
	flex: 0 0 4rem;
	aspect-ratio: 1;
}

.bookClubMemberPageTextBookImage {
	width: 6.5rem;
	height: 10rem;
	object-fit: cover;
	display: block;
}

.bookClubMemberPageTextBookText {
	
}

.bookClubMemberPageTextBookTextTitle {
	display: block;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1em;
}

.bookClubMemberPageTextBookTextRating {
	display: block;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1.25rem;
}

.bookClubMemberPageTextBookTextRating > span {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size: 1.5rem;
}