.projectContainer {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	height: 22rem;
	width: 100%;
	margin: 3.5rem auto 0rem auto;
	max-width: 65rem;
	box-sizing: border-box;
	align-content: space-between;
}

.firstText, .secondText {
	max-width: 25rem;
	margin-bottom: 1.5rem;
}

.heading {
	margin: 0 0 0.75rem 0;
}

.hook {
	font-size: 1.8rem;
	font-weight: 300;
	font-style: italic;
	margin: 0 0 0.6rem 0;
}

.description {
	margin-top: 0.6rem;
}

.button {
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 400;
	background-color: var(--text);
	color: var(--bg);
	border-radius: 1000vh;
	padding: 0.6rem 1.2rem 0.7rem 1.2rem;
}

.buttonIcon {
	position: relative;
	margin-left: 0.4rem;
	top: 0.18rem;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	mask-size: 100% 100%;
	background-color: var(--bg);
}

.forceWrap {
	flex-basis: 100%;
	width: 0;
}

.projectTagsHolder {
	display: flex;
	flex-flow: row wrap;
	gap: 0.4rem;
}

.projectTag {
	opacity: .85;
	font-size: 0.85rem;
	background-color: var(--text);
	color: var(--bg);
	border-radius: 1000vh;
	padding: 0 0.8rem 0.1rem 0.8rem;
}

.projectTagOutline {
	font-size: 0.85rem;
	border: 2px solid var(--text);
	border-radius: 1000vh;
	padding: 0 0.8rem 0.1rem 0.8rem;
}

.projectImage {
	height: 18rem;
	margin-bottom: 1rem;
	border-radius: 0.8rem;
	object-position: center;
	object-fit: cover;
	order: 3;
}

@media (max-width: 975px) {
	.projectContainer {
		flex-flow: column nowrap;
		height: auto;
		min-height: 22rem;
		max-width: 40rem;
	}

	.projectImage {
		order: initial;
	}

	.firstText, .secondText {
		max-width: none;
	}
}

@media (max-width: 520px) {
	.projectImage {
		height: auto;
		aspect-ratio: 3 / 2;
	}
}

@media screen and (max-width: 464px) {
	.projectContainer {
		border-radius: 0;
		box-shadow: none;
		padding: 0;
	}
}