.bannerImage {
	position: relative;
	border-radius: 0.75rem;
	aspect-ratio: 16/9;
	max-height: 15rem;
	width: 100%;
	margin: 0 0rem 1rem 0rem;
	background-position: center;
	background-size: cover;
}

.bannerTitle {
	max-width: 90%;
	height: 8em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.bannerDarken {
	background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5));
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	border-radius: 0.75rem;
}

.containerSmall {
	position: relative;
	margin: 0rem;
}

.containerSmall:last-child {
	/* margin: 1em 0em; */
}

.containerBig {
	position: relative;
	margin: 1rem 0rem;
}

.containerBig:last-child {
	margin: 1rem 0 2rem;
}

.videoPlayer {
	width: 100%;
	border-radius: 0.75rem;
	display: block;
	aspect-ratio: 16/9;
}

.projectImage {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.75rem;
}

.projectImageFull {
	aspect-ratio: 16/9;
	width: 100%;
}

.projectImageHalf {
	display: block;
	border-radius: 0.75rem;
	width: 50%;
	background-position: center;
	background-size: cover;
}

.projectImageThird {
	display: block;
	border-radius: 0.75rem;
	width: 33%;
	background-position: center;
	background-size: cover;
}

.projectImageCollageHolder {
	display: grid;
	grid-template-rows: 15rem;
	gap: 1rem;
}

.projectImageCollage {
	max-height: 100%;
}

.right {
	float: right;
	margin-left: 1rem;
}

.left {
	float: left;
	margin-right: 1rem;
}

@media screen and (max-width: 735px) {
	.projectImageHalf {
		float: none;
		margin: 1rem 0;
		width: 100%;
	}
	
	.projectImageThird {
		width: 50%;
	}
}

@media screen and (max-width: 450px) {
	.projectImageThird {
		float: none;
		margin: 1rem 0;
		width: 100%;
	}
}

.center {
	margin: 1rem auto 0rem auto;
}

/* .containerBig+.projectParagraph {
	margin-top: 2em;
}

.containerSmall+.projectParagraph {
	margin-top: 1em;
} */

.clearFix::after {
  content: "";
  clear: both;
  display: table;
}