.contactFormContainer {
	margin: 2rem auto;
	max-width: 30rem;
}

@media screen and (min-width: 1350px) {
	.contactMeContent {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		gap: 3rem;
	}

	.contactMeText {
		flex: 1 0 0px;
	}

	.contactFormContainer {
		flex: 0 0 30rem;
		width: auto;
		margin: 0;
	}
}

.contactFormSection {
	margin-bottom: 1rem;
}

.contactFormLabel {
	display: block;
	font-weight: 700;
	margin-left: 0.75rem;
}

.contactFormInput {
	font-family: inherit;
	font-size: 1rem;
	width: 100%;
	border-radius: 0.75rem;
	padding: 0.75rem 1rem;
	border: solid var(--bg) 0.125rem;
	outline: none;
	box-sizing: border-box;
}

.contactFormTextArea {
	font-family: inherit;
	width: 100%;
	border-radius: 0.75rem;
	padding: 0.75rem 1rem;
	font-size: 1rem;
	border: solid var(--bg) 0.125rem;
	outline: none;
	resize: none;
}

.contactFormSubmitContainer {
	float: right;
}

.contactFormStatus {
	font-style: italic;
	opacity: 0.7;
	display: inline-block;
	margin-right: 1rem;
}

.contactFormButton {
	font-size: 1rem;
	border: none;
	font-family: inherit;
	font-weight: 400;
	display: inline-block;
	background-color: var(--text);
	color: var(--bg);
	border-radius: 0.75rem;
	padding: 0.25rem 0.75rem;
	cursor: pointer;
}

.contactFormInput:focus, .contactFormTextArea:focus {
	border: solid var(--blue) 2px;
}

.contactFormClearFix {
	clear: both;
}