.projectContainer {
	margin: 0px auto 3.5rem auto;
	display: flex;
	align-items: flex-start;
	flex-flow: row nowrap;
	max-width: 75rem;
	gap: var(--floatingGap);
	padding: 1rem;
	box-sizing: border-box;
}

.projectImageHolder {
	flex: 0 0 35rem;
	aspect-ratio: 3/2;
}

.projectImage {
	border-radius: 0.8rem;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.learnMore {
	display: inline-block;
	padding: 1rem;
	border-radius: 1rem;
	font-size: 1.2rem;
	float: right;
}

.projectText {
	padding: 2.5rem 1rem 1rem 0rem;
	flex-grow: 1;
}

#whiteboardLogo {
	height: 5rem;
	background-image: url("/img/projects/todos/logo.svg");
	background-repeat: no-repeat;
}

#whiteboardImage {
	background-image: url("/img/projects/todos/banner.JPG");
}

#macroPadLogo {
	height: 5rem;
	background-image: url("/img/projects/macropad/logo.svg");
	background-repeat: no-repeat;
}

#macroPadImage {
	background-image: url("/img/projects/macropad/banner.JPG");
}