.projectContainer {
	display: flex;
	flex-flow: column wrap;
	height: 22rem;
	width: 100%;
	margin: 0px auto 3.5rem auto;
	max-width: 65rem;
	padding: 2rem;
	box-sizing: border-box;
	align-content: space-between;
}

.firstText, .secondText {
	max-width: 25rem;
}

.forceWrap {
	flex-basis: 100%;
	width: 0;
}

.projectTagsHolder {
	display: flex;
	flex-flow: row wrap;
	gap: 0.4rem;
	margin-bottom: 1rem;
}

.projectTag {
	/* opacity: 0.8; */
	/* background-color: var(--text);
	color: var(--bg); */
	border-radius: 1000vh;
	padding: 0 0.8rem 0.1rem 0.8rem;
}

.projectImage {
	height: 18rem;
	border-radius: 0.8rem;
	object-position: center;
	object-fit: cover;
	order: 3;
}